.container {
  margin-top: 50px;
  margin-bottom: 100px;
}
.background-class {
  background-color: #6fbfd3;
  border-radius: 10px;
}
.buy-now-button {
  background-image: linear-gradient(to bottom, black, black 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.carousel-item {
  padding: 20px 40px;
}
.carousel-control-prev,
.carousel-control-next {
  color: red;
}
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px lightgray;
}

.beauty {
  margin-bottom: 20px;
}
.shoe {
  margin-bottom: 20px;
}
